<h4>Your Notes</h4>
<table id='private-notes-list'class = 'table'>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
     <tr><td>Title</td><td>Notebook</td></tr>
    <% if @my_notes %>
    <% @my_notes.each do |note| %>
      <tr class='clickable-tr' data-link="<%= note_path(note) %>">
        <td><%= note.title %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<h4>Public Notes</h4>
<table class='table'>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
    <tr><td>Title</td></tr>
    <% @notes.each do |note| %>
      <tr class='clickable-tr' data-link="<%= edit_note_path(note, @question) %>">
        <td><%= note.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>