<table id='private-notes-list'class = 'table'>
  <thead>
    <tr id='table-headers'>
        <th><strong>Title</strong></th><th><strong>Notebook</strong></th>
    </tr>
  </thead>

  <tbody>
    <% if @my_notes %>
    <% @my_notes.each do |note| %>
      <tr class='clickable-tr' data-link="<%= note_path(note) %>">
        <td><%= note.title %></td>
        <td><%=  getNotebookName(@my_notebooks, note.notebook_guid)%></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>