<table id='private-notebook-list'class = 'table'>
  <thead>
    <tr>
        <th>Title</th><th># of Notes</th>
    </tr>
  </thead>

  <tbody>
    <% if @my_notebooks %>
      <% @my_notebooks.each do |notebook| %>
        <tr class='clickable-tr' data-link="<%= note_path(note) %>">
          <td><%= notebook.title %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>