<h3>questions</h3>

<div id='question-display-area'>
<% if @questions %>
  <table class='table'>
    <thead><tr><td>Question</td><td></td></tr></thead>
    <tbody>
      <% @questions.each do |question| %>
        <tr class='clickable-tr' data-link="<%= edit_question_path(question) %>"><td><%= question.text %></td><td>Edit Question or Submit Answer</td></tr>

      <% end %>
    </tbody>
  </table>
<% end %>
</div>
