<div id='question-display-area'>
<% if !@questions.empty? %>
  <table class='table'>
    <thead><tr><td>Questions</td><td></td></tr></thead>
    <tbody>
      <% @questions.each do |question| %>
        <tr class='clickable-tr' data-link="<%= edit_question_path(question) %>"><td><%= question.text %></td></tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</div>
