<% if !@questions.empty? %>
  <table class='table'>
    <tbody>
      <% @questions.each do |question| %>
        <tr class='blablabla' data-link="<%= edit_question_path(question) %>"><td><%= question.text %></td></tr>
      <% end %>
    </tbody>
  </table>
<% end %>
