<% if !@questions.empty? %>
  <table class='table'>
    <tbody>
      <% @questions.each do |question| %>
        <tr class='question-clickable-tr' data-id=<%= question.id %>><td><%= question.text %></td></tr>
      <% end %>
    </tbody>
  </table>
<% end %>
