<%= render 'sidebar' %>

<div class='right-side-container col-md-7'>
  <div class='welcome-page'>
    <h1>Welcome!</h1> 
    <h3>Get Started...</h3> 
    <ol id='welcome-list'> 
      <li>Select A Note
        <ul>
          <li>Write some questions to help you review and remember it</li>
        </ul>
      </li> 
      <li>Generate a quiz and answer questions to test your knowledge of your knowledge.</li> 
    </ol> 
  </div> 
</div>

<script>

</script>