// $(function(){
  $('body > div.container.col-md-5 > div > h2').css({color: 'red'});
  // $('private-notes-list')
  // td = $('<td>');
  // td.text('blabla');

    tr = $("<tr class='clickable-tr' data-link='/notes/'><td>" + 'blablabla' +  "</td></tr>");
    tr.appendTo($('#private-notes-list tbody'));
  // $('#private-notes-list tbody').append(td);


// })

<% #binding.pry %>