<%= render '/notes/sidebar' %>
<div class='col-md-5'>
  <h4>Previous Quizzes</h4>
  <table class='table'>
    <thead>
      <tr>
        <th colspan="1">id</th>
        <th>created_at</th>
      </tr>
    </thead>

    <tbody>
      <% @quizzes.each do |quiz| %>
        <tr class='clickable-tr' data-link="<%= quiz_path(quiz.id) %>">
          <td><%= quiz.id %></td>
          <td><%= quiz.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
$("tr[data-link].clickable-tr").click(function() {
      window.location = $(this).data("link")
    })
    $("tr[data-link]").on('mouseenter', function() {
      $(this).css({"background":"purple", 'color':'white'});
    })
    $("tr[data-link]").on('mouseleave', function() {
      $(this).css({"background":"white",'color':'black'});
    })
</script>