// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#note_content {
   height: 200px;
   margin: 20px 0 0 0;
     width: 100%;
}

#note_title {
  height: 25px;
}

.note-inputs{
  // background: purple;
}
#note_public {
    margin: 5px;
}

div.actions input {
  float:right;
  background: green;
  color:white;
  margin: 20px 0;
}

#new-note-button {
}


#notelist-tabs {
  li {
    list-style: none;
    display: inline-block;
  }
}

#notebook-list-tab {}
#note-list-tab {}
